@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@800&family=Red+Hat+Display:wght@600&display=swap");
.heading {
  font-family: "Montserrat";
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 80px;
  margin-top: 20px;
}
.tagline {
  font-size: 25px;
  text-align: center;
  font-family: "Lilita One";
  margin-top: -85px;
  color: rgb(0, 0, 0);
}

.column {
  float: left;
  width: 22%;
  padding: 0 10px;
}

.row {
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: rgba(20, 20, 20, 0.4) 5px 5px, rgba(20, 20, 20, 0.3) 10px 10px,
    rgba(20, 20, 20, 0.2) 15px 15px, rgba(20, 20, 20, 0.1) 20px 20px,
    rgba(20, 20, 20, 0.05) 25px 25px;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.excersises {
  padding-top: 60px;
  margin-left: 40px;
}
.iconimg {
  max-width: 200px;
}
.hmbutton {
  font-family: "Montserrat";
  font-size: 40px;
  text-decoration: none;
  color: blue;
  text-align: center;
}
a {
  text-decoration: none;
}
